%header.navbar.navbar-default
  .container
    .navbar-header
      %button.navbar-toggle.pull-left.ml-15{type: "button", 'data-toggle': "collapse", 'data-target': "#navbar"}
        %span.sr-only
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      =link_to t(:shop_name), main_app.root_path, class: 'navbar-brand'
      =link_to checkout_index_path, class: 'shop-link pull-right visible-xs' do
        %span.shop-icon
    =link_to checkout_index_path, class: 'shop-link pull-right hidden-xs' do
      %span.shop-icon
        %span.shop-quantity #{items_in_cart}
    #navbar.navbar-collapse.collapse.pl-30{'aria-expanded': "false"}
      .visible-xs
        %button.close{type: "button", 'aria-label': "Close"}
          %span{'aria-hidden': "true"} &times;
      .hidden-xs
        %ul.nav.navbar-nav
          %li
            %a.dropdown-toggle{href: "/", 'data-toggle': "dropdown", role: "button", 'aria-haspopup': "true", 'aria-expanded': "false"}=t :home
