<!DOCTYPE html>
<html>
<head>
  <title>Bs checkout</title>
  <%= stylesheet_link_tag    "bs_checkout/application", media: "all" %>
  <%= javascript_include_tag "bs_checkout/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
