%main.container
.container
  .jumbotron.text-center.mb-0
    %h2.h1=t :welcome
  .mb-35
    %h3=t :best_sellers
    .row
    - @books.each do |book|
      .col-sm-6.col-md-3
        .general-thumb-wrap
          .thumbnail.general-thumbnail
            =image_tag book.image, alt: book.title, class: 'img-shadow general-thumbnail-img'
            .thumb-hover
              .general-thumb-link-wrap
                =link_to book, class: 'thumb-hover-link' do
                  %i.fa.fa-eye.thumb-icon{'aria-hidden': "true"}
                =link_to bs_checkout.order_items_path(product_id: book.id), remote: true, class: "thumb-hover-link", method: :post do
                  %i.fa.fa-shopping-cart.thumb-icon
        .mb-35
          .clearfix
            %p.pull-right.font-16.in-gold-500= "€#{book.price}"
            =link_to book do
              %p.general-title.mr-55= book.title
